<div class="container">
    <!-- <div class="row justify-content-md-center">
        <div class="col col-lg-4">
            <h5 class="center">Available options</h5>
            <button class="btn" routerLink="/setting" routerLinkActive="active">Settings</button>
            <button class="btn" routerLink="/livescore" routerLinkActive="active">Livescore</button>
        </div>
    </div> -->
    <div class="row justify-content-md-center">
        <div class="col-4">
            <div class="card text-center">
                <div class="card-block">
                    <h4 class="card-title">Available option</h4>
                    <button class="btn" routerLink="/setting" routerLinkActive="active">Settings</button>
                    <button class="btn" routerLink="/livescore" routerLinkActive="active">Livescore</button>
                </div>
            </div>
        </div>
    </div>
</div>

