<div>
    <div class="col-xs-2">
        <label for="current_api">Current API :</label>
        <select class="form-control" id="current_api">
            <option *ngFor="let item of apis" [ngValue]="item">{{item}}</option>
        </select>
    </div>
    <div class="col-xs-2">
        <label for="interval">Update interval :</label>
        <select class="form-control" id="interval">
            <option *ngFor="let item of intervals" [ngValue]="item">{{item}} m</option>
        </select>
    </div>
</div>
<button class="btn" routerLink="/home" routerLinkActive="active">Back</button>
<button class="btn">Save settings</button>
