<h2>Livescores</h2>
<div class="container">
<form>
    <div class="form-group row">
        <div class="">
            <label for="date_from">Date from :</label>
            <ngbd-datepicker-popup></ngbd-datepicker-popup>
        </div>
        <div class="">
            <label for="date_to">Date from :</label>
            <ngbd-datepicker-popup></ngbd-datepicker-popup>
        </div>
        <div class="col">
            <label for="country">Select country :</label>
            <select class="form-control" id="country">
                <option #country *ngFor="let item of countries; let i = index" >{{item.country_name}}</option>
            </select>
        </div>
        <div class="col">
            <label for="league">Select league :</label>
            <select class="form-control" id="league">
                <option *ngFor="let item of leagues">{{item.league_name}}</option>
            </select>
        </div>
        <div class="col">
            <button class="btn">Search</button>
        </div>
        <div class="col">
            <button class="btn" routerLink="/home" routerLinkActive="active">Back</button>
        </div>
    </div>
</form>
<app-table></app-table>
</div>