/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
.btn, select {
    cursor: pointer;
}

.btn:hover {
    color: #fff;
    background: #000;
    transition: 500ms;
}