    <table class="table">
		<thead>
		<tr>
			<th>Country Name</th>
			<th>League name</th>
			<th>Home team</th>
			<th>Away team</th>
			<th>Home/away score</th>
			<th>Match status</th>
			<th>Match date</th>
			<th>Match time</th>
		</tr>
		</thead>
		<tbody *ngIf="data && data.length">
		<tr *ngFor="let item of data">
			<td>{{item.country_name}}</td>
			<td>{{item.league_name}}</td>
			<td>{{item.match_hometeam_name}}</td>
			<td>{{item.match_awayteam_name}}</td>
			<td>{{item.match_hometeam_score}}/{{item.match_awayteam_score}}</td>
			<td>{{item.match_status}}</td>
			<td>{{item.match_date}}</td>
			<td>{{item.match_time}}</td>
		</tr>
		</tbody>
	</table>